@charset "utf-8";
/* CSS Document */

body {
	margin:0 auto;
	padding:0;
    color:#000;
}

#container { width:300px; height:250px;	overflow:hidden; top:0px; position:absolute; box-sizing: border-box; border: 1px solid rgba(0, 0, 0, 0.5); mix-blend-mode: multiply; background-color:#fff; display:none; }

/*-------------------*/
/*   C L A S S E S   */
/*-------------------*/
.posAbs{
    position: absolute;
}
.adSize { position:absolute; top:0px; width:300px; height:250px; }
.mask { overflow: hidden; }
.ctaSize {position:absolute;bottom: 7px;right: 17px;width: 83px;height: 23px;background-color:#fff;}
.defPos { position:absolute; top:0px; left:0px; }
.buttonConfig {background-color:#000;cursor: pointer;opacity: 0;}
/*-------------*/
/*   I N I T   */
/*-------------*/

/* headline */
#text { background: url(text.png) no-repeat; background-size: 100%; }

/*------------------*/
/*   L O C K  U P   */
/*------------------*/
/*------------------*/
#bg1 { background: url(bg1.jpg) no-repeat; background-size: 100%; }
#bg2 { background: url(bg2.jpg) no-repeat; background-size: 100%; }
#bg3 { background: url(bg3.jpg) no-repeat; background-size: 100%; }
#bg4 { background-color: #111921; }

/*-- LOGO --*/
#logo { background: url(logo.png) no-repeat; background-size: 100%; }

/* CTA */
#cta_out { background: url(cta_out.png) no-repeat; background-size: 100%;  }
#cta_over { background: url(cta_over.png) no-repeat; background-size: 100%; opacity: 0; }